.header{
	background-color: #00FFFF;
	border: 1px solid black;
	
}

.footer{
	background-color: #C0C0C0;
	border: 1px solid black;
	clear: both;
	text-align: center;
}
.links{
	height: 120px;
	width: 30%;
	background-color: red;
	float: right;
}
.maincontent{
	background-color: 
	height: 120px;
	width: 70%;
float: right;

}
.contact{ color:green; 
font-size: 18px;}


.pic{
	width:40px;
	height: 40px;
}
.about_me{
	font-size: 18px;
	font-weight: 12px;
	color: purple;
	
}