.header{
	background-color: #00FFFF;
	border: 1px solid black;
	
}

.about-me-section {
	background-color: grey;
	width: 60%;
	display: inline-block;
}

.footer{
	background-color: #C0C0C0;
	border: 1px solid black;
	clear: both;
	text-align: center;
	position: absolute;
	bottom: 0; 
}
.links{
	height: 100px;
	width: 20%;
	float: right;
	background-color: grey;
	padding: 25px;

}
.maincontent{
	background-color: 
	height: 120px;
	width: 70%;
float: right;

}
.contact{ color:green; 
font-size: 18px;}


.pic{
	width:40px;
	height: 40px;
}
.about_me{
	font-size: 18px;
	font-weight: 12px;
	color: purple;

}

.color{
	background-image: #C0C0C0;

}